body {
  width: 80%;
  margin: 0 auto;
}
.container {
  box-shadow: 5px 5px 10px black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: auto;
  min-width: 300px;
  max-height: auto;
  min-height: 500px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
label {
  margin-top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
input {
  font-size: 1.1em;
  padding: 2px;
  margin-bottom: 5px;
  font-family: Georgia, serif;
  border: thick double rgb(192, 192, 25);
  border-radius: 5px;
  text-align: center;
}
button {
  padding: 10px;
  box-shadow: 2px 2px 5px rgb(192, 192, 25);
  background-color: rgb(192, 192, 25);
  border-radius: 1em;
  border: 0;
  font: 1.2em sans-serif;
}
.end {
  font-size: 1.5em;
  font-family: Georgia, serif;
  text-shadow: #fc0 1px 0 10px;
}
